body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
    color: #eee;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    z-index: 10;
}

p {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    z-index: 10;
    color: #ccc;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
