body {
    margin: 0;
    overflow: hidden;
    background: #111;
    color: #eee;
    font-family: sans-serif;
    text-align: center;
}

#startUI {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    font-size: 28px;
}

p {
    position: absolute;
    top: 45px;
    width: 100%;
    font-size: 16px;
    color: #ccc;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
