body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
    color: #eee;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
}

p {
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 14px;
}

